body{
    background: rgb(206, 134, 0);
}
h1{
    text-align: center;
}
.main {
    border-spacing: 30px;
}
.main-left{
    background: rgb(250, 162, 0);
    border: 5px solid black;
    width: 200px;
    height: 800px;
   box-shadow: 5px -3px 15px 5px #38b3ff;
}
.CV{
    color: aqua;
}

.main-right {
    background: rgb(250, 162, 0);
    border: 5px solid black;
    height: 800px;
    width: 700px;
    margin-left: 500px;
    box-shadow: 5px -3px 15px 5px #38b3ff;
}
